source-models/*.STEP
source-models/*.step
source-models/*.STP
source-models/*.stp
source-models/*.iges
source-models/*.IGES
source-models/*.igs
source-models/*.IGS
source-models/*.fbx
source-models/*.FBX
source-models/*.glb
source-models/*.GLB
source-models/*.gltf
source-models/*.GLTF
node_modules/
dist/
*.tsbuildinfo
.DS_Store
.env
.env.local
